*{
	margin: 0;
	padding:0;
}
h1 {
  font: normal 170% , arial;
 	color:white;
  letter-spacing: 0.1em;
 	text-decoration:none;
 	list-style: none;

  }
 .headder, h3{
    padding-left: 3%;
    font: normal 100% 'century gothic', arial;
  }

.header a{
    text-decoration: none;
}
//*.header{
	position:fixed;
  z-index: 100;
	width: 100%;
	height: auto;
	background-color: black;
	opacity:0.8;
	text-align: center;
	color:white
}*//
  .menubar{ 
  }

   ul.menu {; 
  	float: center;
  	margin-right:25%; 
  	margin-left:25%;
  	height: auto;
   	padding-top: 1%;
  	padding-bottom: 2.5%;	
  	width: auto;
  	

 }
  ul.menu li:active {
  	background-image: url(https://i.gifer.com/TkHK.gif);
  	background-size: 150%;
  	background-position: center;
  	border:solid 2px;
  	border-color: #483a3a;
  }
  ul.menu li{
  	border:solid 1px;
  	border-radius: 15px;
  	text-align: center;
   	float: left;
   	width: 170px;
   	margin-left:5%;
 	margin-top:1%;
   	list-style: none;
}  
ul.menu li.selected a{
	color:#fff;
	width: 100%;
  	height: 100%;
	}
ul.menu li a{
	text-align: center;
    display: block;
    width: 100%;
  	height: 100%;
  	color:#fff;
  	text-decoration: none;
}
.sitebarContainer{
	padding-top:120px;
	width: 100%;
  background-image: url( https://wallpaperscave.ru/images/thumbs/wp-preview/800x500/18/07-23/earth-nature-forest-69706.jpg) ;
  background-repeat: no-repeat;
  background-size: 120%;
	background-position: center;
  height: auto;
	padding-bottom: 100px;
}
.site{
  margin-top: 50px; 
  background-image: url(https://avatanplus.com/files/resources/original/5a94278e97306161d2ba851b.png) ;
  background-repeat: no-repeat;
  background-size: 110%;
  background-position-x: center;
  background-position-y: 40%;
  height: 400px;
    }

.sitebar2{  
  width: auto;
  height: 1000px;
  background-image: url( https://i.gifer.com/Xa8x.gif) ;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  text-align: center;
  padding-top: 1px;
  color:black;

}
.sketchfab-embed-wrapper{
  padding: 10px;
  width: auto; 
  height: auto;
  text-align: center;

}
.sitebar3{
  padding-top: 30px;
  width: 100%;
  height: auto;
  background-color:#d6d1d1bd;
}
.sitebar3 h2 {
  text-align: center;
  font: Snell Roundhand, cursive;
}

.sitebarLeft3{
  padding-top: 5%;
  padding-left: 10%;
  float: left;
  width: 10%;
  color:#171c1f;
}
.sitebarRight3{
  padding-top: 5%;
  padding-right: 10%;
  float: right;
  width: 10%;
  color:#171c1f;
}
.s2{
  margin-top: 10%;
  opacity: 0.5;
  margin-left: 20%;
  text-align: center;
  width: 60%;
  height: 50%;
  background-color:green;
  background-repeat: no-repeat;
  background-size: 100%;
  
}
.photo_block{
  margin-top: 50px;
}
.photo_block img{
  z-index: 2;
  margin:3px;
  border-radius: 10px;
  border: solid 0.2em #574e77;
  width: 20%;
}

.photo_block img:hover, img:focus {
  transform: scale(1.2) translate(20px,10px) rotate(0.01turn);
  transition-duration: 0.8s;
}

    

.log{

	padding-bottom: 20px;
	text-align: center;
  color:white;
}
.kuula{
 margin-left: 35%;
 margin-top: 15px;
 float: center;
 width: 30%;
 height:240px; 
 border: solid 3px ;
 border-color: #7e808470;

}
.sitebarLeft{
  padding-top: 5%;
  padding-left: 10%;
	float: left;
	width: 20%;
  color:#b2bbc0;
}
.sitebarRight{
  padding-left: 2%;
  color:#b2bbc0;
	float: right;
	width: 20%;
  max-width: 30%
}
.footer{
	float: bottom;
  background-color: #170505;
  width: 100%;
  height: 50px;
  padding-top: 20px;
  text-align: center;
  color:black;
  list-style: none;
}
.sitebarBottom{
  margin-top: 100px;
  width: 100%;
 
  text-align: center;
}
.tes{

  width: 100%;
  color:white;
  font: normal 150% 'century gothic', arial;
  margin-bottom: 20px;
}
.ras{
  margin-top: 100px;
  width:100%;
  text-align: center;
}
.qaq{
  text-align: center;

  background-color: black;
  width: 30%;
  margin-top: 10px;
  margin-right: 35%;
  margin-left: 35%;
  border-radius: 20px;

}
.makaka{
  width: 47%;
  margin-top: 5%;
  margin-right: 10%;
  float: right;
  color: #42ffc2c7;
  font: bold italic 90% serif;
}
 scroll-behavior: smooth;
html {
scroll-behavior: smooth;
}
#ik1{
  transition: 2s;
 scroll-behavior: smooth;
}
.makaka:hover{
 color: black;
}
/*///////////////////////////////////////////////*/
/*///////////////////////////////////////////////*/
/*///////////////////////////////////////////////*/
.men{
  position: fixed;
  top: 0px;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: black;
  color:white;
  text-align: center;
  transition: 1s cubic-bezier(0.3, 0.5, 0.1, 1.35);
  border:solid 0.15em white;
  border-radius: 40px;
  z-index: 50;

}
.men h3{
  padding-top: 35px;
}

#myname{
  padding-top:1px;
}
.pan_men{
  box-shadow: 10px 10px 50px #78a8ff69;
  z-index: 100;
  height: auto;
  background-color: black;
  opacity:0.8;
  text-align: center;
  color:white;
  position: fixed;
  top: 0px;
  border-radius: 0 0 60px 60px; 
  right: -100%;
  width: 100%;
  transition: 1.2s cubic-bezier(0.3, 0.5, 0.1, 1.35);
}
.men:hover {
  right: 0px;
}
.men:hover .pan_men{
  right: 0px;
}


.contact{
  position: fixed;
  top: 0px;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: black;
  color:white;
  text-align: center;
  transition: 1s cubic-bezier(0.04, -0.15, 0.44, 1.28);
  border:solid 0.15em white;
  border-radius: 40px;
  z-index: 40;
}
.contact   h3{
  padding-top: 35px;
  }
.pan_left {
  box-shadow: 10px 10px 50px #78a8ff69;
  z-index: 100;
  border-radius: 0 40px 40px 0;
  height: 120px;
  background-color: black;
  opacity:0.8;
  text-align: center;
  color:white;
  position: fixed;
  top: 0px;
  left:-50%;
  width: 50%;    
  transition: 1s cubic-bezier(0.04, -0.15, 0.44, 1.28);
}
.contact:hover {
  left: 0;
}
.contact:hover .pan_left{
  left: -5%;
}

hr {
  box-shadow: 2px 6px 14px 5px #464343;
  margin-top: 30px;
  color:black;
  background-color: black;
  height:3px;
  border:none;
}
/* ///////////////////////////////////////////////////////////////////////////////////////*/
.front2{
  text-align: center;
  width: auto;
  height:450px;
  margin-top: 50px;
  padding-left: 25%;
}
.phot{
  text-align:center;
  width: 75%;
  height: 100%;

}
.phot img {
  border-radius: 20px;
  width: 200px;
  height: 200px;
}
.phot a{
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 20px;
  float: left;
  height: auto;
  position: relative;
  opacity: 1;
  width: 200px;
  color:#ff000000;
}
.front2 a h3{  
bottom: 25px;
left:50px;
position: absolute;

}
.front2 a:hover{
  transition: linear 1s;
  opacity: .7;
  color: red;
  transform: scale(1.1) rotateY(360deg) ;
}
/* ///////////////////////////////////////////////////////////////////////////////////////*/



#img1{
  background-color: green; 
  height: 250px;
  width: 250px;
  border-radius: 20px;
  transition: 1s;
}
.cards{
  margin-top: 3%;
  margin-left: 30%;
  text-align: center;
  height:250px;
  width: 250px;
  text-align: center;
  position: relative;
  perspective: 500px;
  border-radius: 20px;
}
.front1, .back1{
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 1s;
  backface-visibility: hidden;
}
.front1{
  z-index: 10;
}
.back1{
  text-align: center;
  color: black;
  opacity: 0;
  z-index: 1;
  background: #c8a6e2;
}
#img1:hover{
  transition: 1s;
   opacity: 0.5;
}
.cards:hover .back1{
  opacity: 1;
  
}

/*///////////////////////////////////////////////*/
/*///////////////////////////////////////////////*/
/*///////////////////////////////////////////////*/

.container {
  text-align: center;
  border-radius: 20px;
  height:380px;
  width: 220px;
  margin-top: 45px;
  margin-left: 300px;
  perspective: 1900;
  transform-style: preserve-3d;
}

.flipper {

  border-radius: 20px;
  z-index:1;
  width: 220px;
  height: 380px;
  transform-style: preserve-3d;
  transition: 1.3s cubic-bezier(0.27, 0.5, 0.41, 1.33);
}

.front img{
  border-radius: 20px;
}
.front, .back   {
  border-radius: 20px;
  z-index:1;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.front {

  z-index:1;
  transform: rotateY(0deg);
  background: white;
}
.back h2, .back h2{
  padding-top: 70px;
}
.back {
  text-align: center;
  transform: rotateY(-180deg);
  background: #DCB8B2;
  color: white;
}

.container:hover .flipper {
  transform: rotateY(180deg);
}



.slider {
  padding-top: 45px; 
  text-align: center;
  background-size:100%;
  background-position: center;
  background-repeat: no-repeat;
  animation: box 20s ease-in-out infinite;
  z-index:1;
  width: 100%;
  height: 600px;        
  }

@keyframes box {
 0% { background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-good-morning-hello-early-morning-background-design-morning-backgroundback-mountain-image_58024.jpg);
       }


 40% { background-image: url(https://cdn.freelance.ru/img/portfolio/pics/00/36/2B/3550054.jpg?mt=67c429cc); 
    }

 80% {background-image: url(https://i.ytimg.com/vi/LBSDwWRep1s/maxresdefault.jpg);

    }
  100% { background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-good-morning-hello-early-morning-background-design-morning-backgroundback-mountain-image_58024.jpg);
       }
}

.one{
  opacity: 0.8;
  border-radius: 30px;
  width: 400px;
  height: 400px;
}
/*///////////////////////////////////////////////*/

/*/////////////////////////

@media screen and (min-width: 200px)and (max-width:560px)
{
  *{
    margin: 0;
    padding: 0;
  }
  
  .header{
    text-align: center;  
    position: absolute;
  }
  .ul.menu {
    margin-right:40%; 
    margin-left:25%;
    width: 100%;

  }
  .sitebarContainer{
    width: 100%;
    margin: 0;
    padding-top:40%;
  }
  .kuula{
     width: 100%;
     float: right;
     text-align: center;
  }
  .sitebarRight{
    display: none;
  }
 .sitebarLeft{
  width: 100%;
  float: right;
  text-align: center;
 }      
}

//////////////////////*/
